#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* ヘッダー：常に画面上部に固定 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2ecc71; /* グリーン系 */
  color: white;
  padding: 16px;
  font-size: 22px;
  text-align: left;
  font-weight: bold;
  z-index: 1000;
}

/* 全体の余白を調整（ヘッダーの分だけ下げる） */
body, html {
  margin: 0;
  padding: 0;
}

/* クイズ本体 */
.question-block {
  margin-top: 80px; /* ヘッダーの高さ + 余白 */
  text-align: center;
}

.title{
  text-align: center;
  color: #213547;
}

.title h2{
  font-size:bold;
}